<div class="form">
    <app-back-button></app-back-button>
    <form [formGroup]="characterForm">
        <div class="form-item">
            <div class="form-item-control">
                <label class="form-item-label" for="name">Nombre</label>
                <input class="form-item-input" formControlName="name" id="name"
                [ngClass]="{ 'input-error': name?.invalid && (name?.dirty || name?.touched) }" />
            </div>
            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert-danger">
                <div *ngIf="name?.errors?.['required'] || name?.errors?.['invalidString']">
                    Debe ingresar un nombre.
                </div>
            </div>
        </div>
        <div class="form-item">
            <div class="form-item-control">
                <label class="form-item-label" for="description">Description</label>
                <input class="form-item-input" formControlName="description" id="description"
                [ngClass]="{ 'input-error': description!.invalid && (description!.dirty || description!.touched) }" />
            </div>
            <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="alert-danger">
                <div *ngIf="description?.errors?.['required'] || description?.errors?.['invalidString']">
                    Debe ingresar una descripcion.
                </div>
            </div>
        </div>
        <div class="form-item">
            <div class="form-item-control">
                <label class="form-item-label" for="imageurl">Image </label>
                <input class="form-item-input" formControlName="imageurl" id="imageurl"
                 />
            </div>
        </div>
        <div class="form-item">
            <button class="button" (click)="submitCharacter()"> {{ !isEditing ? 'Crear' : 'Editar' }}</button>
        </div>
    </form>
</div>
